html,
body {
  font-family: "Poppins", sans-serif;
  background-color: #e0dede11;
  width: 99%;
}

#creators{
  margin-bottom: 80px;
}

table {
  margin: 0 auto;
  border: 2px solid rgba(60, 216, 107, 0.637);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

tr {
  padding-right: 25px;
}

td {
  padding: 15px 30px;
  margin: 0 auto;
}

#model {
  margin: 0 auto;
  text-align: center;
}

#pictures {
  margin: 0 auto;
  width: 1300px;
  text-align: center;
  visibility: hidden;
}

h1 {
  font-size: 46px;
  font-weight: 800;
  color: #333333;
  line-height: 56px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  margin: 40px 0px 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 14px;
  color: #22222286;
  margin-bottom: 20px;
  font-weight: 300;
}

h3 {
  color: #2222225e;
  font-size: 18px;
  margin-bottom: 25px;
  line-height: 0px;
  font-weight: 100;
}



.albumButtons  {
  background: rgba(60, 216, 107, 0.637);
  border: 0px solid #ffffff;
  width: 100px;
  padding: 15px 40px;
  cursor: pointer;
  text-align: center;
}

.albumButtons:hover {
  cursor: pointer;
  position: relative;
  background: rgba(98, 212, 132, 0.384);
}

.regularButton{
  background: rgba(124, 1, 161, 0.637);
  border: 0px solid #ffffff;
  width: 250px;
  padding: 20px 45px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}



#Get {
  background: rgba(124, 1, 161, 0.637);
  border: 0px solid #ffffff;
  width: 250px;
  padding: 20px 45px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: #ffffff;
  margin-bottom: 30px;
  margin-top: 30px;
}










